%main.container
  = link_to request.referer, class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15
      = t('book.back_to_catalog')
  .row
    .col-sm-6
      .product-gallery
        - if book.title_image.attached?
          .mb-20
            %a{href: url_for(book.title_image)}
              %img.img-responsive{src: url_for(book.title_image), alt: "design-book"}
        - if book.images.attached?
          .images.clearfix
            - book.images.each do |image|
              %a.img-link{href: url_for(image)}
                %img{src: url_for(image)}
    .col-sm-6
      %h1.mt-res-0= book.title
      %p.lead.small= book.authors_names
      .row
        .col-xs-12.col-md-4
          %h1.in-gold-500.mt-10 €#{book.price}
        .col-xs-5.col-md-3
          %div.input-group.general-position{ data: { controller: 'counter', value: 'counter.amount'} }
            %a.input-link{data: { action: 'click->counter#minus'}}
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text", data: {target: 'counter.output'}}
            %a.input-link{data: { action: 'click->counter#plus'}}
              %i.fa.fa-plus.line-height-40
        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position Add to Cart
      .general-info-wrap.divider-lg
        %p Description
        %div.lead.small.line-height-2{ data: { controller: 'descriprion'} }
          %span{ data: { target: 'descriprion.shortText' } }
            = book.short_description
          %span{ data: { target: 'descriprion.longText' } }
            = book.description
          %a.in-gold-500.ml-10{ data: { action: 'descriprion#showMore', target: 'descriprion.moreButton' } }
            Read more
          %a.in-gold-500.ml-10{ data: { action: 'descriprion#showLess', target: 'descriprion.lessButton' } }
            Read less
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Year of publication
          %p.lead.small.pull-right= book.year_of_publication
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Dimensions
          %p.lead.small.pull-right H:#{book.height}" x W:#{book.width}" x D:#{book.depth}"
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Materials
          %p.lead.small.pull-right= book.materials
  .mb-80#review_form
    - if user_signed_in?
      = render 'reviews/partials/form', book_id: book.id, review: ReviewForm.new
  .mb-80
    %h3.in-gold-500.mb-25= t('review.reviews', reviews_count: book.reviews.approved.count)
    = render partial: 'books/review', collection: book.reviews.approved, as: :review
