!!!
%html
  %head
    %title BookStore
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_importmap_tags
  %body
    = render  'partials/header'
    = render 'partials/flash_message', cached: true
    - if current_user
      = current_user.email
    = yield
    = render  'partials/footer'
